<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Type:</b>
  <%= @project.type %>
</p>

<p>
  <b>Budget:</b>
  <%= @project.budget %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
